# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

metadata-updater/additional-data.json
metadata-updater/additional-data.json.br
metadata-updater/additional-data.json.gz
metadata-updater/api
public/additional-data.json
public/api/

dev-dist/
public/registerSW.js