[Unit]
Description=Update metadata for ACLVT
After=network.target

[Service]
Type=oneshot
User=CHANGE_ME # TODO: Change this to a non-root user
Group=CHANGE_ME # TODO: Change this to a non-root group
Environment="MAL_CLIENT_ID=CHANGE_ME" # TODO: Change this to your MyAnimeList client ID
Environment="NODE_ENV=production"
WorkingDirectory=/www/aclvt
ExecStart=/usr/bin/env node /usr/local/src/aclvt-vue/metadata-updater/updater.mjs

[Install]
RequiredBy=network.target