* {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

html, body {
  margin: 0px;
  padding: 0px;

  background-color: black;
}

body {
  margin-top: 65px;
}

table {
  border-collapse: collapse;
}

table td {
  border: 1px solid black;
  padding: 5px;
}

a {
  text-decoration: none;
}

dialog {
  border: 1px solid lightslategray;
  border-radius: 5px;

  padding-left: 10px;
  padding-right: 10px;

  width: 80%;

  animation: fadein 0.75s;

  background-color: white;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
  animation: fadein 0.75s;
}

header {
  z-index: 9999;
}

button, select, input::placeholder, dialog *, input, option {
  color: black;
}

.dialogHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.dialogHeader h2 {
  margin: 0px;
  padding: 0px;
}

.cursorHelp, .cursorHelp label {
  cursor: help;
}

.mobile-show {
  display: none;
}

@media screen and (max-width: 450px) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: unset;
  }

  .mobile-fill-width {
    width: 100%;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hover {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.25);
  }
}