* {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

html, body {
  margin: 0px;
  padding: 0px;

  background-color: black;
}

body {
  margin-top: 50px;
}

table {
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid black;
  padding: 5px;
}

a {
  text-decoration: none;
}

header {
  z-index: 9999;
}

button, select, input::placeholder, dialog *, input {
  color: black;
}

option {
  color:black !important;
}

.cursorHelp, .cursorHelp label {
  cursor: help;
}

.svgFix {
  filter: invert(1);
}

.mobile-show {
  display: none;
}

.tableOptions {
  margin-top: 10px;
}

.tableOptions td {
  padding: 5px;
  border: none;
}

.tableOptions tr {
  border-bottom: 1px dotted lightslategray;
}

.tableOptions tr:last-child {
  border-bottom: none;
}

.commaList > *:last-child .comma {
  display: none;
}

.colorizeLinks, .colorizeLinks a {
  color: #0076d1;
}

.toast {
  position: fixed;
  top: 10px;
  right: calc(50% - 150px);

  width: 300px;
  height: 40px;
  background-color: rgb(112, 0, 160);

  border: 1px solid lightslategray;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: fadein 0.75s;

  z-index: 99999;
}

.toast > p {
  color: white;
  font-weight: bold;

  margin: 0px;
}

.fitContent {
  width: fit-content;
}

.noScroll {
  overflow: hidden;
}

.japanese {
  font-family: 'Noto Sans JP', sans-serif !important;
}

@media screen and ((max-width: 1005px) or (orientation: portrait)) {
  .mobile-hide {
    display: none;
  }

  .mobile-show {
    display: unset;
  }

  .mobile-fill-width {
    width: 100%;
  }
}

@media screen and (prefers-color-scheme: dark) {
  .table td, .table th {
    border-color: white;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hover {
  from {
    box-shadow: none;
  }

  to {
    box-shadow: 2px 4px 5px 0px rgba(255,255,255,0.25);
  }
}